.container{
    background-color: #01555F;
    height: 100vh;
    width: 100%;
    display: flex;

    .backgroundIlustrator{
        width: 50vw;
        height: 100%;
        background-image: url("../../../public/assets/imageFooter.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .formulario{
        width: 50vw;
        height: 100%;
        background-color: #CE505C;
    }
}